[Unit]
Description=dwm on X display %I
After=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/env ssh-agent dwm
SyslogIdentifier=dwm
Restart=no
