
[Unit]
Description=dwmblocks on X display %I
After=X11@%i.target
Requisite=X11@%i.target

[Service]
#Environment="PATH=/usr/local/bin:/usr/bin:/home/lef/.local/bin/statusbar"
Environment=DISPLAY=%I
#ExecStartPre=-/usr/bin/killall dwmblocks
ExecStartPre=/usr/bin/bash -c "while pgrep dwmblocks;do sleep 1s;done;sleep 2s"
ExecStart=dwmblocks
StandardError=journal
SyslogIdentifier=dwmblocks
TimeoutStartSec=3
Restart=yes

[Install]
WantedBy=X11@%i.target
