[Unit]
Description=jakcd service

[Service]

Type=simple

ExecStartPre=/usr/bin/bash -c "while ! pgrep pulseaudio;do sleep 1s;done;sleep 2s"
ExecStartPre=-/usr/bin/pacmd suspend true

ExecStart=/usr/bin/jackd -r -u -dalsa -r48000 -D -Chw:Intel -Phw:Intel
#ExecStart=/usr/bin/jackd -r -u -dalsa -r44100 -D -Chw:Device -Phw:Device
#ExecStart=/usr/bin/jackd -u -dalsa -r48000 -p1024 -n2 -Xraw -D -Chw:Device -Phw:Audiophile192
#ExecStart=/usr/bin/jackd -u -dalsa -r44100 -p2048 -n2 -Xraw -D -Chw:Device -Phw:Audiophile192
#ExecStart=/usr/bin/jackd -u -dalsa -r48000 -p2048 -n2 -Xraw -D -Chw:Audiophile192 -Phw:Audiophile192
#ExecStart=/usr/bin/jackd -u -R -dalsa -r48000 -p2048 -n2 -Xraw -D -Chw:Audiophile192 -Phw:Audiophile192
#ExecStart=/usr/bin/jackd -u -dalsa -r192000 -p2048 -n2 -Xraw -D -Chw:Audiophile192 -Phw:Audiophile192

ExecStartPost=/usr/bin/bash -c "while ! pgrep jackd;do sleep 1s;done;sleep 2s"
ExecStartPost=-/usr/bin/pactl load-module module-jack-sink channels=2
ExecStartPost=-/usr/bin/pactl load-module module-jack-source channels=2
ExecStartPost=-/usr/bin/pacmd set-default-sink jack_out
ExecStartPost=-/usr/bin/pacmd set-default-source jack_in

ExecStop=-SINKID=$(LANG=C pactl list | grep -B 1 "Name: module-jack-sink" | grep Module | sed 's/[^0-9]//g') /usr/bin/pactl unload-module $SINKID
ExecStop=-SOURCEID=$(LANG=C pactl list | grep -B 1 "Name: module-jack-source" | grep Module | sed 's/[^0-9]//g') /usr/bin/pactl unload-module $SOURCEID
ExecStop=/usr/bin/killall jakcd | true
ExecStop=/user/bin/bash -c "while pgrep jackd;do sleep 1s;done"
Restart=always

ExecStopPost=/usr/bin/pacmd suspend false

SyslogIdentifier=jackd

[Install]
WantedBy=default.target
