[Unit]
Description=Keyboard layout system tray applet
After=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I

Type=simple
ExecStart=/usr/bin/env sbxkb
SyslogIdentifier=sbxkb

[Install]
WantedBy=X11@%i.target
