[Unit]
Description=Network Manager system tray applet
After=X11@%i.target dwmblocks@%i.service
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I

Type=simple
ExecStart=/usr/bin/env nm-tray
SyslogIdentifier=nm-tray

[Install]
WantedBy=X11@%i.target
