[Unit]
Description=Spotify system tray applet
After=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I

Type=simple
; ExecStartPre=sleep 30s
ExecStartPre=/usr/bin/bash -c "/usr/bin/env pgrep spotify || /usr/bin/env LD_PRELOAD=/usr/lib/spotify-adblock.so spotify & disown;exit 0"
ExecStart=/usr/bin/env spotify-tray -c "/home/lef/.local/bin/spotify"
SyslogIdentifier=spotify-tray

[Install]
WantedBy=X11@%i.target
