[Unit]
Description=Volume management system tray applet
After=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I

Type=simple
ExecStart=/usr/bin/env pasystray
SyslogIdentifier=pasystray

[Install]
WantedBy=X11@%i.target
